* {
    font-family: 'Yantramanav', sans-serif;
  }
  
  body {
    background-image: url('./assets/image/uwp1373025.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .accent {
    color: red;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 1rem;
    color: white;
  }

  header h1 {
    font-size: 1.8rem;
    margin: 0;
    float: left;
    text-transform: uppercase;
  }
  
  nav ul {
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    float:right;
  }
  
  nav li {
    font-size: 1rem;
    color: white;
    padding: 1.5rem;
    transition: background-color 0.2s;
    display: inline;
  }

  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    cursor: pointer;
    color: #94c6fc;
  }
  
 #em {
    text-decoration: none;
    color: white;
  }
  
  #caption {
    font-size: 4rem;
    color: white;
    margin-top: 2em;
    margin-bottom: 2rem;
    text-shadow: 2.2px 2.2px #161616;
    text-align: center;
  }
  
  #about {
    margin-left: 10%;
    width: 50%;
    max-width: 600px;
    height: auto;
    background-color: transparent;
    z-index: 1;
    float: left;
  }

  #about ul li {
    list-style: none;
    margin-bottom: 1rem;
    text-align: left;
  }

  #map {
    margin-left: 55%;
    width: 250px;
    height: 250px;
    border-radius: 15%;
  }
  
  #contact {
    margin-right: 10%;
    width: 50%;
    max-width: 600px;
    height: auto;
    background-color: transparent;
    z-index: 1;
    float: right;
  }

  form {
    color: white;
    background-color: transparent;
    padding: 2rem;
    text-align: left;
  }
  
  form h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  form label {
    text-align: left;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  form input,
  form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    width: 100%;
  }
  
  form input:focus,
  form textarea:focus {
    outline: none;
    border-bottom: 2px solid #8bc1ff;
  }
  
  form textarea {
    resize: none;
    height: 100px;
  }
  
  form button {
    background-color: #5899e2;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    float: right;
  }
  
  form button:hover {
    background-color: #65afff;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: transparent;
    padding: 1rem;
    text-align: center;
  }
  